body{
    background-color: gray;
    width: 800px;
    margin: auto;
}
h1{
    color: blue;
    text-align: center;
}
.title{
    color: whitesmoke;
    background-color: red;
    border: 5px yellowgreen;
    padding: 5px;
    margin: 5px;
}
div{
     border:5px dashed blue;
      padding: 5px;

}
p{
      border:5px dashed green;
      padding: 5px;

    }
span{
    border:2px dashed blue;
      padding: 2px;

}